<!--Used to sign up a Student or instructor for LME4U->
@model
E_Learning_Managment_System.Models.ViewModel.InstructorSignUpViewModel
144
<!DOCTYPEhtml>
<htmlclass="hide-sidebar ls-bottom-footer"lang="en">
<head>
<metacharset="utf-8">
<metahttp-equiv="X-UA-Compatible"content="IE=edge">
<metaname="viewport"content="width=device-width, initial-scale=1">
<metaname="description"content="">
<metaname="author"content="">
<title>LearningMadeEasy4u</title>
<linkhref="~/Design/css/vendor/all.css"rel="stylesheet"/>
<linkhref="~/Design/css/app/app.css"rel="stylesheet"/>
</head>
<bodyclass="login">
<divid="content">
<divclass="container-fluid">
<divclass="lock-container">
<divclass="panel panel-default text-center paper-shadow"data-z="0.5">
<h1class="text-display-1">Create account</h1>
<divclass="panel-body">
<!-- Signup form -->
@using (Html.BeginForm())

{
<!-- FirstName -->
<divclass ="form-group">
	@Html.TextBoxFor(m => m.FirstName, null, new
{
@class = "formcontrol",
	id = "firstname",
placeholder = "First Name"
})
	@Html.ValidationMessageFor(m => m.FirstName, "", new
	{
		@style
	= "color:red"
	})
	</div>
	<!-- LastName -->
	<divclass ="form-group">
		@Html.TextBoxFor(m => m.LastName, null, new
		{
			@class = "formcontrol",
		id = "lastname",
			placeholder = "Last Name"
		})
		@Html.ValidationMessageFor(m => m.LastName, "", new
		{
			@style
		= "color:red"
		})
		</div>
		<!-- Email -->
		<divclass ="form-group">
			
			@Html.TextBoxFor(m => m.Email, null, new
			{
				@class = "formcontrol",
			id = "email",
				placeholder = "Email"
			})
			@Html.ValidationMessageFor(m => m.Email, "", new
			{
				@style =
			"color:red"
			})
			</div>
			<!-- Password -->
			<divclass ="form-group">
				@Html.PasswordFor(m => m.password, new
				{
					@class = "formcontrol",
				id = "password",
					placeholder = "Password"
				})
				@Html.ValidationMessageFor(m => m.password, "", new
				{
				@style = "color:red"
				})
				</div>
				<!-- Repeat Password -->
				<divclass ="form-group">
					@Html.PasswordFor(m => m.Repassword, new
					{
						@class = "formcontrol",
					id = "passwordConfirmation",
						placeholder = "Password Confirmation"
					})
					@Html.ValidationMessageFor(m => m.Repassword, "", new
					{
					@style = "color:red"
					})
					
					</div>
					<divclass ="form-group text-center">
						<divclass ="checkbox">
							<inputtype ="checkbox" id="agree" required="required" />
							<labelfor ="agree">
								* I Agree with <ahref ="#">
									Terms &amp; Conditions!</a></label>
									</div>
									</div>
									<!-- Submit button -->
									<divclass ="text-center">
										<inputtype ="submit" value="Create Account" class="btn btn-primary" />
										</div>
										}
										<!-- //Signup -->
										</div>
										</div>
										</div>
										</div>
										</div>
										<!-- Footer -->
										<footerclass ="footer">
											<strong>App By DiptiArora</strong>&copy; Copyright 2017
											</footer>
											<!-- // Footer -->
										
											<!-- Inline Script for colors and config objects; used by various external scripts; -->
											<script>
var colors = {
"danger-color": "#e74c3c",
"success-color": "#81b53e",
"warning-color": "#f0ad4e",
"inverse-color": "#2c3e50",
"info-color": "#2d7cb5",
"default-color": "#6e7882",
"default-light-color": "#cfd9db",
"purple-color": "#9D8AC7",
"mustard-color": "#d4d171",
"lightred-color": "#e15258",
"body-bg": "#f6f6f6"
};
var config = {
theme: "html",
skins: {
"default": {
"primary-color": "#42a5f5"
}
}
};

											</script>
											<scriptsrc ="~/Scripts/jquery-3.1.1.min.js">
												</script>
												<scriptsrc ="~/Scripts/jquery.validate.min.js">
													</script>
													<scriptsrc ="~/Scripts/jquery.validate.unobtrusive.min.js">
														</script>
														<scriptsrc ="~/Design/js/vendor/all.js">
															</script>
															<scriptsrc ="~/Design/js/app/app.js">
																</script>
																</body>
																</html>
